* {
   box-sizing: border-box;
}

body {
   background-color: #e0f5f3;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.container {
   background-color: #ffffff;
   padding: 30px;
   width: 400px;
   border-radius: 30px;   
}

.form_control {
   margin: 10px;   
}

.form_control input {
   display: block;
   width:100%;
   border-radius: 10px;
   border: 3px solid;
}

.form_control input:hover {
   cursor: pointer;
}

button {
   margin:auto;
   display:block;
   padding: 15px;
   border-radius: 10px;
   border: none;
   background-color:#ffffff;
   font-size: 20px;
}

button:hover {
   background-color:#e0f5f3;
   cursor: pointer;
}

.form_control.user input {
   border-color:#ff9741
}

small {
   color: #ff4141;
   visibility: hidden;
}

.form_control.failure small {
   visibility: visible;
}

.form_control.failure input {
   visibility: visible;
   border-color: #41ff41;
}

